/* Layout
================================ */
body {
	background-image: url("../img/parchment.jpg");
	background-color: #F3E2A9;
	background-repeat: no-repeat;
	background-size: 100%;
}


img.th.radius.me{
	max-width: 20%;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 20px;
}

img.project_img {
	width:300px;
	height:300px;
	padding: 10px;
	border-radius:20px;
	margin-bottom: 20px;
}

div.orbit-container{
	border-radius: 20px;
}

.reveal-modal.full {
	border-radius: 20px;
}

.large-6.column{
	margin-top: 20px;
}

/*text formatting
===========================*/
h3 {
	font-weight:800;
}

ul {
	list-style-type: none;
	text-align: center;
}

li.list_title{
	font-size: 2em;
	font-weight: 200;
}

a.button.radius {
	color: #F3E2A9;
}

h1.my_name {
	text-align: center;
	font-family: 'Pacifico', cursive;
	margin-top: 15px;
}

/*data orbit formatting
==============================*/

.orbit-container{
	text-align: center;
	padding: 30px 0;
	margin: 20px 0 0;
	background: whitesmoke;
}

.button-group,
.orbit-bullets {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

/* Links
================================ */

a.topbar_title{
	text-align: center;
	font-size: 1.5em;
	font-weight: 400;
}

.panel.callout a {
	color: white;
}

p.heroku_button {
	text-align: center;
}

/* Icons
================================ */



[class*="fi-"] {
  font-size: 2em;
  color: black;
  margin-right: 10px;
}

/* Media Queries
================================ */

@media (max-width: 768px) {
	[class*="fi-"] {
  		margin-top: 15px;
	}
}


