/* Layout
================================ */

/*hr {
	margin: 40px 0;
}
.panel,
.orbit-container {
	text-align: center;
	padding: 40px;
	margin: 20px 0 0;
}
.orbit-container {
	background: whitesmoke;
	padding: 30px 0;
}
.button-group,
.orbit-bullets {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
h3,
h4 {
	margin-bottom: .8em;
}*/

/* section formatting*/
.container{
	width: 800px;
	height: 800px;
	margin: 0 auto;
}
.top_half{
	width:100%;
}
.bottom_half{
	width:100%;
}
.column {
	border: black 1px solid;
	height: 400px;
	width : 400px;
	z-index: 1;
	display: block;
}

#top_left.column{
	border-top-left-radius: 400px; 
}

#bottom_left.column  {
	border-bottom-left-radius: 400px; 
}

#center_hub.column {
	border-radius: 250px;
	height: 150px;
	width: 150px;
	position: absolute;
	margin: 0 auto;
	z-index: 1000;
}

#top_right.column {
 	border-top-right-radius: 400px;  
}

#bottom_right.column {
	border-bottom-right-radius: 400px;

}

/* Links
================================ */

/*.panel.callout a {
	color: white;
}

/* Icons
================================ */

[class*="fi-"] {
  font-size: 2em;
  text-align: center;
  color: #2ba6cb;
  display: block;
  margin-top: 30px;
}

/* Media Queries*/
================================ */

@media (max-width: 768px) {
	[class*="fi-"] {
  		margin-top: 15px;
	}
}


