{% extends 'layouts/main.php.twig' %}


{% block body %}
	<!-- top bar	 -->
		<div class="contain-to-grid">
			<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
				<ul class="title-area">
					<li class="name">
						<h1>
							<a class="topbar_title" href="#">Ricky Do</a>
						</h1>
					</li>
				</ul>
			</nav>
		</div>
	<!-- end top bar -->

	<!-- about me slider -->
		<div class="row">
			<div class="medium-12 column" data-orbit>
				<div>
					<img class="th radius me" src="{{app.request.getbaseurl}}/assets/img/ricky.jpg">
					<ul class="intro_bullets">
						<li>Biologist turned Web Developer</li>
						<li>Mechanically Inclined</li>
						<li>Avid Netflixer</li>
					</ul>
					<a href="https://twitter.com/statusd0"><i class="fi-social-twitter"></i></a>
					<a href="https://www.facebook.com/phucee"><i class="fi-social-facebook"></i></a>
					<a href="https://www.linkedin.com/in/rickydo/en"><i class="fi-social-linkedin"></i></a>
					<a href="https://github.com/rickydo"><i class="fi-social-github"></i>
					<a href="mailto:ricky.dop@gmail.com"><i class="fi-mail"></i></a>
				</div>

				<div>
					<h2>Skills</h2>
					<div class="large-6 column">
						<ul>
							<li>Ruby on Rails</li>
							<li>HTML, CSS, SCSS</li>
							<li>Foundation 4/5</li>
							<li>JS: Ajax, JQuery</li>
							<li>Rspec, BDD, Git</li>
						</ul>
					</div>
					<div class="large-6 column">
						<ul>
							<li>PHP Laravel</li>
							<li>Composer, Silex</li>
							<li>Blade, Twig</li>
							<li>LAMP, MySql</li>
							<li>Agile Development</li>
						</ul>
					</div>
				</div>

				<div>
					<h2>About Me</h2>
					<div class="medium-4 column">
						<ul>
							<h3>TV shows</h3>
							<li>The Office</li>
							<li>Modern Family</li>
							<li>Game of Thrones</li>
							<li>Other Comedies</li>
						</ul>
					</div>
					<div class="medium-4 column">
						<ul>
							<h3>Quirks</h3>
							<li>I quote TV shows/movies very often.</li>
							<li>I'm the guy laughing at everything in a movie.</li>
						</ul>
					</div>
					<div class="medium-4 column">
						<ul>
							<h3>Outdoor Activities</h3>
							<li>Basketball</li>
							<li>Football</li>
							<li>Car Enthusiast</li>
							<li>Longboarding</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	<!-- about me end -->

	<!-- projects -->


	<!-- projects end -->


{% endblock %}