{% extends 'layouts/main.php.twig' %}


{% block body %}
	<div class="container">
		
		<div class="column" id="top_left">
			<ul>
				<li>Biologist turned web developer</li>
				<li>Mechanically inclined</li>
				<li>Building things with purpose</li>
				<li>Netflixing</li>
			</ul>
		</div>
		<div class="column" id="top_right">
			Cover Letter Preview
		</div>
		
		<div class="column" id="center_hub">
			<!-- <img src="{{ app.request.getbaseurl }}/assets/img/me.jpg"> -->
			<div>
				<a class="item">
					<i class="fi-social-twitter"></i>
				</a>
				<a class="item">
					<i class="fi-social-facebook"></i>
				</a>
				<a class="item">
					<i class="fi-social-github"></i>
				</a>
				<a class="item">
					<i class="fi-mail"></i>
				</a>
			</div>
		</div>
		
		<div class="column" id="bottom_left">
			<ul>
				<li>Rails</li>
				<li>JS 
					<ul>
						<li>AJAX</li>
						<li>JQuery</li>
					</ul>
				</li>
				<li>HTML, CSS, SASS</li>
				<li>PHP 
					<ul>
						<li>Laravel, Composer, MySQL</li>
						<li>Blade, Foundation</li>
						<li>Eloquent, Twig</li>
					</ul>
				</li>
				<li>XAMP, MAMP</li>
			</ul>
		</div>
		<div class="column" id="bottom_right">
			Projects Link, maybe a collage of projects
		</div>
			
	</div>
{% endblock %}